<div class="card has-background-link-light">
  <header class="card-header">
    <p class="card-header-title has-background-warning-light has-text-danger">
<<<<<<< HEAD
      <a href="/api/projects/allprojects/{{id}}">{{title}}</a>
=======
      <a href="allprojects/{{id}}">{{title}}</a>
>>>>>>> adf9348ec7d4de79a72e8c61edb3115222d7a1be
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="has-text-link-dark"> {{content}} </p>
    </div>
    <footer class="card-footer">
      <p class="has-text-link-dark">Created by:
        {{user.username}}
        on
        {{format_date createdAt}}</p>
    </footer>
  </div>
</div>