<div class="card has-background-link-light">
  <header class="card-header">
    <p class="card-header-title has-background-warning-light has-text-danger">
      <a href="allprojects/{{id}}"></a>{{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p class="has-text-link-dark"> {{content}} </p>
    </div>
    <footer class="card-footer">
      <p class="has-text-link-dark">Created by :{{username}}
        on
        {{createAt}}</p>
    </footer>
  </div>
</div>