<div class="card">
    <header class="card-header is-link">
        <p class="card-header-title">
            {{post.title}}
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <p class="has-text-link">{{post.email}}</p>
            <p class="has-text-link"> {{post.content}} </p>
        </div>
        <footer class="card-footer is-link">
            <p>Created by :{{user.name}} on {{format_date: date_created}}</p>
        </footer>
    </div>
</div>